body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.App>div .container {
  display: flex;
  flex-direction: column;
}
.App>div .background {
  position: absolute;
  background-color: #7892ff;
  height: 250px;
  width: 100vw;
  z-index: -9999;
}
.form-group {
  display: flex;
  flex-direction: column;
}
form {
  padding: 20px;
  margin-top: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 70%;
  justify-content: space-around;
  align-self: center;
}
input {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  border: 0.5px solid black;
}
.card:nth-child(1) {
  margin-top: 100px;
}
.response-container {
  display: flex;
  flex-direction: column;
}
.card {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 70%;
  align-self: center;
  margin: 10px 0px;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.card .descr {
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: center;
}
.card span {
  align-self: center;
  font-size: 0.8em;
}
.card .descr a {
  font-size: 0.7em;
  color: #61dafb;
  text-decoration: none;
}
.card .icon {
  align-self: center;
  background-image: url("assets/user.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.fiche {
  margin-top: 10vh;
  align-self: center;
  height: 80vh;
  width: 70vw;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}